.header-right {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 345px;
  gap: 30px;
  &__mail-number {
    font-size: 14px;
    color: getColor("grey");
    text-decoration: none;
    &:hover {
      color: getColor("main-blue");
      fill: getColor("main-blue");
      transition: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
    }
    & svg {
      margin-right: 10px;
    }
  }
}
